/* Dashboard.css */

.container {
    margin-top: 20px;
}

.box {
    margin-bottom: 20px;
}

.paper {
    padding: 20px;
    margin-bottom: 20px;
}

.grid-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.grid-item {
    flex: 1 1 calc(33.333% - 20px);
    box-sizing: border-box;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 5px;
}
.sidebar{
    background-color: #f8f9fa;
    border-right: 10px solid #e9ecef;
}
.dashboardcontent{
    background: whitesmoke;
    height: 100vh;
    
}
.dashboard_in_ex_table{
    padding: 20px;
    height: 400px;
    overflow-y: auto;
}
.dashboard_in_ex_table table{
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ccc;
}
.dashboard_in_ex_table th, .dashboard_in_ex_table td{
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}

/* filters in income and expenses compoenent */
.filters {
    margin: 20px 0;
    display: flex;
    /* flex-direction: column; */
    gap: 15px;
}
.filters select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 200px;
}
.filter-btn{
    width: 200px;

}
/* income component */
.income-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.income-table th, .income-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.income-table th {
    background-color: #f2f2f2;
    font-weight: bold;
}

.no-income {
    text-align: center;
    color: #999;
    font-style: italic;
}


/* From Uiverse.io by SchawnnahJ */ 
.loader {
    position: relative;
    width: 2.5em;
    height: 2.5em;
    transform: rotate(165deg);
   }
   
   .loader:before, .loader:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 0.5em;
    height: 0.5em;
    border-radius: 0.25em;
    transform: translate(-50%, -50%);
   }
   
   .loader:before {
    animation: before8 2s infinite;
   }
   
   .loader:after {
    animation: after6 2s infinite;
   }
   
   @keyframes before8 {
    0% {
     width: 0.5em;
     box-shadow: 1em -0.5em rgba(225, 20, 98, 0.75), -1em 0.5em rgba(111, 202, 220, 0.75);
    }
   
    35% {
     width: 2.5em;
     box-shadow: 0 -0.5em rgba(225, 20, 98, 0.75), 0 0.5em rgba(111, 202, 220, 0.75);
    }
   
    70% {
     width: 0.5em;
     box-shadow: -1em -0.5em rgba(225, 20, 98, 0.75), 1em 0.5em rgba(111, 202, 220, 0.75);
    }
   
    100% {
     box-shadow: 1em -0.5em rgba(225, 20, 98, 0.75), -1em 0.5em rgba(111, 202, 220, 0.75);
    }
   }
   
   @keyframes after6 {
    0% {
     height: 0.5em;
     box-shadow: 0.5em 1em rgba(61, 184, 143, 0.75), -0.5em -1em rgba(233, 169, 32, 0.75);
    }
   
    35% {
     height: 2.5em;
     box-shadow: 0.5em 0 rgba(61, 184, 143, 0.75), -0.5em 0 rgba(233, 169, 32, 0.75);
    }
   
    70% {
     height: 0.5em;
     box-shadow: 0.5em -1em rgba(61, 184, 143, 0.75), -0.5em 1em rgba(233, 169, 32, 0.75);
    }
   
    100% {
     box-shadow: 0.5em 1em rgba(61, 184, 143, 0.75), -0.5em -1em rgba(233, 169, 32, 0.75);
    }
   }
   
   .loader {
    position: absolute;
    top: calc(50% - 1.25em);
    left: calc(50% - 1.25em);
   }